body {
  background-color: #eae0cc;
  color: #4d6a6d;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #4d6a6d;
  margin-top: 20px;
  font-size: 2rem;
  margin-bottom: 20px;
}

.todo-wrapper {
  background: #afd5aa;
  padding: 2%;
  width: 80%;
  margin: 30px auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}
.btn-area {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  padding-bottom: 20px;
  margin-bottom: 20px;
}

.todo-input-item label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #4d6a6d;
}

.todo-input-item input {
  padding: 10px;
  border: 2px solid #a0a083;
  width: 100%;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.todo-input-item input:focus {
  outline: none;
  border: 2px solid #a0a083;
}

.primaryBtn,
.secondaryBtn {
  background-color: #4d6a6d;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.secondaryBtn {
  background-color: #4d6a6d;
  margin-left: 15px;
}
.primaryBtn:hover,
.secondaryBtn:hover {
  background-color: #798478;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list-item {
  background-color: #fff;
  border: 2px solid #a0a083;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.todo-list-item:hover {
  transform: scale(1.02);
}

.todo-list h3 {
  font-size: 20px;
  color: #a0a083;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.todo-list-item p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.icon {
  font-size: 25px;
  cursor: pointer;
  color: #a0a083;
  transition: color 0.3s ease;
  margin-right: 10px;
}

.icon:hover {
  color: #3581b8;
}

.check-icon {
  font-size: 20px;
  margin-left: 15px;
  color: #a0a083;
  transition: color 0.3s ease;
}
